.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  padding: 20px 30px;
  border-radius: 6px;
  color: white;
  font-family: 'TradeGothic', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  box-shadow: none;
}

/* BUTTON RED */
.btn-red {
  background-color: var(--red);
}

.btn-red:hover {
  color: white;
  background-color: #cc0000;
}

.btn-red:active {
  color: white;
  background-color: #990000;
}

/* BUTTON BLUE */
.btn-blue {
  background-color: var(--blue);
}

.btn-blue:hover {
  color: white;
  background-color: #0d8be5;
}

.btn-blue:active {
  color: white;
  background-color: #0c79cb;
}

/* BUTTON BLACK */
.btn-black {
  background-color: var(--black);
}

.btn-black:hover {
  color: white;
  background-color: #2a2828;
}

.btn-black:active {
  color: white;
  background-color: #272525;
}

/* BUTTON YELLOW */
.btn-yellow {
  background-color: var(--yellow);
}

.btn-yellow:hover {
  color: white;
  background-color: #e3bb1b;
}

.btn-yellow:active {
  color: white;
  background-color: #caa919;
}
