.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  font-family: 'TradeGothic', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  box-shadow: none;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-without-text {
  padding: 5px;
}

/* BUTTON RED */
.btn-red {
  background-color: var(--red);

  @media (min-width: 576px) {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.btn-red:hover {
  color: white;
  background-color: #cc0000;
}

.btn-red:active {
  color: white;
  background-color: #990000;
}

/* BUTTON BLUE */
.btn-blue {
  background-color: var(--blue);

  @media (min-width: 576px) {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.btn-blue:hover {
  color: white;
  background-color: #0d8be5;
}

.btn-blue:active {
  color: white;
  background-color: #0c79cb;
}

/* BUTTON BLACK */
.btn-black {
  background-color: var(--black);

  @media (min-width: 576px) {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.btn-black:hover {
  color: white;
  background-color: #2a2828;
}

.btn-black:active {
  color: white;
  background-color: #272525;
}

/* BUTTON YELLOW */
.btn-yellow {
  color: var(--black);
  background-color: var(--yellow);

  @media (min-width: 576px) {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.btn-yellow:hover {
  color: var(--black);
  background-color: #e3bb1b;
}

.btn-yellow:active {
  color: var(--black);
  background-color: #caa919;
}

/* BUTTON OUTLINE GREY */
.btn-outline-grey {
  border: 1px solid #9d9d9d;
  color: var(--black);

  @media (min-width: 576px) {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.btn-outline-grey:hover {
  color: var(--black);
  background-color: #e6e6e6;
}

.btn-outline-grey:active {
  color: var(--black);
  background-color: #d8d8d8;
}
