footer .container {
  padding: 20px 10px;
  gap: 20px;

  @media (min-width: 768px) {
    padding: 40px 20px;
  }

  @media (min-width: 1200px) {
    padding: 40px 60px;
  }
}

.sing-up-send {
  width: 100%;
  padding: 16px 10px;
  border-radius: 5px;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
}

.sing-up .btn-red {
  padding: 20px 30px;
  margin-bottom: 0;
  width: 100%;

  @media (min-width: 576px) {
    width: fit-content;
  }

  @media (min-width: 996px) {
    width: 100%;
  }
}

.social-media {
  margin-top: 20px;
  width: fit-content;
  gap: 30px;
}

.navigation-block {
  max-width: 315px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-block ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-bottom: 0;
}

.navigation-block ul li {
  list-style: none;
  font-weight: bold;
  font-size: 14;
  line-height: 22px;
}

.navigation-block a {
  color: var(--grey);
}

.footer-info {
  padding-top: 30px;
}
.footer-info p {
  color: var(--grey);
  font-size: 10px;
  line-height: 140%;
}
