.h1-super-big,
.h1-mid-bold {
  user-select: none;
  position: relative;
  display: block;
  width: fit-content;
  color: var(--super-black);
  font-family: 'TradeGothic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.h1-super-big {
  font-size: 80px;
  line-height: 80px;
}

.h1-mid-bold {
  font-size: 42px;
  line-height: 50px;
}

.h1-mid-bold.stars::after,
.h1-mid-bold.stars::before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  background-image: url('../assets/images/star.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-mid-bold.stars::after {
  left: -20px;
}

.h1-mid-bold.stars::before {
  right: -20px;
}

.h4-bold {
  font-family: 'TradeGothic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;

  font-size: 20px;
  line-height: 24px;
}

.p-sm-medium {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.p-sm-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 22.4px;
}
.p-super-small {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
