@import './css/colors.css';
@import './css/fonts.css';
@import './css/header.css';
@import './css/buttons.css';
@import './css/describe-block.css';

/* RESET MAIN CLASSES */

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* MAIN CLASSES */

.container {
  max-width: 1440px;
}

.bg-black {
  background-color: var(--black);
}

.bg-super-black {
  background-color: var(--super-black);
}

.bg-super-black {
  background-color: #000;
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-yellow {
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.text-grey {
  color: var(--grey);
}

.text-lightgrey {
  color: var(--lightgrey);
}

.text-blue {
  color: var(--blue);
}

.text-charcoal {
  color: var(--charcoal);
}

.text-white {
  color: var(--white);
}

.text-grey {
  color: #c5c5c5;
}

.text-gothic {
  font-family: 'TradeGothic', sans-serif;
}

.img {
  display: block;
  width: 100%;
}

.main-banner {
  gap: 20px;
  width: 100vw;
  height: calc(100vw * 0.479);
  background-image: url('./assets/images/Hero.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-banner h1 {
  margin-bottom: 0;
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -4px;

  @media (min-width: 576px) {
    font-size: 60px;
  }

  @media (min-width: 996px) {
    font-size: 80px;
  }
}
