@import './css/colors.css';
@import './css/fonts.css';
@import './css/header.css';
@import './css/buttons.css';
@import './css/badges.css';
@import './css/describe-block.css';

/* RESET MAIN CLASSES */

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* MAIN CLASSES */
.container {
  max-width: 1440px;
}

.bg-black {
  background-color: var(--black);
}

.bg-super-black {
  background-color: var(--super-black);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-yellow {
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.text-grey {
  color: var(--grey);
}

.text-lightgrey {
  color: var(--lightgrey);
}

.text-blue {
  color: var(--blue);
}

.text-charcoal {
  color: var(--charcoal);
}

.text-white {
  color: var(--white);
}

.text-grey {
  color: #c5c5c5;
}

.text-gothic {
  font-family: 'TradeGothic', sans-serif;
}

/* MAIN BANNER */
.main-banner {
  gap: 20px;
  width: 100%;
  height: calc(100vw * 0.45);
  background-image: url('./assets/images/Hero.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-banner h1 {
  margin-bottom: 0;
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -4px;

  @media (min-width: 576px) {
    font-size: 60px;
  }

  @media (min-width: 996px) {
    font-size: 80px;
  }
}

/* TOP CAROUSEL */
.top-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
}

.top-carousel .top_carousel {
  width: 300px;

  @media (min-width: 768px) {
    width: 630px;
  }

  @media (min-width: 996px) {
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    width: 960px;
  }

  @media (min-width: 1440px) {
    width: 1230px;
  }
}

.top-carousel .responsive-prev,
.top-carousel .responsive-next {
  display: none;

  @media (min-width: 996px) {
    display: flex;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.top-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 450px;
}

.top-item .badge {
  position: absolute;
  top: 0;
  left: 0;
}

.top-item img {
  width: 100%;
  height: 357px;
}

.top-item .top-item_text,
.top-item .top-item_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--super-black);
}

.top-item .top-item_text {
  margin-top: 10px;
  color: var(--grey);
}
