@import './css/fonts.css';
@import './css/header.css';

/* RESET MAIN CLASSES */

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Satoshi', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* MAIN CLASSES */

.container {
  max-width: 1440px;
}

.bg-black {
  background-color: #2f2d2d;
}

.bg-super-black {
  background-color: #000;
}

.bg-yellow {
  background-color: #fdd51e;
}

.bg-red {
  background-color: #ff0000;
}

.bg-grey {
  background-color: #696969;
}

.bg-lightgrey {
  background-color: #f2f6f9;
}

.bg-blue {
  background-color: #0e9aff;
}

.bg-charcoal {
  background-color: #828694;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #2f2d2d;
}

.text-yellow {
  color: #fdd51e;
}

.text-red {
  color: #ff0000;
}

.text-grey {
  color: #696969;
}

.text-lightgrey {
  color: #f2f6f9;
}

.text-blue {
  color: #0e9aff;
}

.text-charcoal {
  color: #828694;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #c5c5c5;
}

.text-gothic {
  font-family: 'TradeGothic', sans-serif;
}

.img {
  display: block;
  width: 100%;
}
