@import './css/tabs.css';
@import './css/star.css';
@import './css/fonts.css';
@import './css/topic.css';
@import './css/colors.css';
@import './css/header.css';
@import './css/badges.css';
@import './css/buttons.css';
@import './css/describe-block.css';

/* RESET MAIN CLASSES */

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

p {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* MAIN CLASSES */
.container {
  max-width: 1440px;
}

.bg-black {
  background-color: var(--black);
}

.bg-super-black {
  background-color: var(--super-black);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-yellow {
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.text-grey {
  color: var(--grey);
}

.text-lightgrey {
  color: var(--lightgrey);
}

.text-blue {
  color: var(--blue);
}

.text-charcoal {
  color: var(--charcoal);
}

.text-white {
  color: var(--white);
}

.text-grey {
  color: #c5c5c5;
}

.text-gothic {
  font-family: 'TradeGothic', sans-serif;
}

.img {
  display: block;
  width: 100%;
}

.overflow-hidden {
  overflow-y: hidden;

  @media (min-width: 996px) {
    overflow-y: inherit;
  }
}

/* MAIN BANNER */
.main-banner {
  gap: 20px;
  width: 100%;
  height: calc(100vw * 0.45);
  background-image: url('./assets/images/Hero.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-banner h1 {
  margin-bottom: 0;
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2px;

  @media (min-width: 576px) {
    font-size: 60px;
    letter-spacing: -4px;
  }

  @media (min-width: 996px) {
    font-size: 80px;
    letter-spacing: -4px;
  }
}

/*SECTION TOP PICKS  */
.top-picks {
  padding: 40px 0;
}

.top-picks .topic {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.top-picks .tabs-container {
  margin-bottom: 30px;
}

.top-picks > button {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

/* PICK CAROUSEL */
.wrapper-pick-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
}

.wrapper-pick-carousel .pick-carousel {
  width: 300px;

  @media (min-width: 768px) {
    width: 630px;
  }

  @media (min-width: 996px) {
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    width: 960px;
  }

  @media (min-width: 1440px) {
    width: 1230px;
  }
}

.wrapper-pick-carousel .responsive-prev,
.wrapper-pick-carousel .responsive-next {
  display: none;

  @media (min-width: 996px) {
    display: flex;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.pick-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 450px;
}

.pick-item .badge {
  position: absolute;
  top: 0;
  left: 0;
}

.pick-item img {
  width: 100%;
  height: 357px;
  object-fit: cover;
}

.pick-item .pick-item_text,
.pick-item .pick-item_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--super-black);
}

.pick-item .pick-item_text {
  margin-top: 10px;
  color: var(--grey);
}

.dungeon-plus {
  padding: 40px 0 42px;
}

/* TOP CAROUSEL */
.wrapper-top-carousel {
  margin-top: 60px;
  padding: 0 60px;
}

.top-title {
  gap: 10px;
}

.top-wrapper-title h5 {
  margin-bottom: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}

.top-title_buttons {
  gap: 10px;
}

.top-title_buttons h5 {
  margin-right: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}

.top-carousel {
  margin-top: 20px;
  width: 1320px;
}

.top-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 315px;
  height: 285px;
  color: var(--white);
}

.top-item_img {
  position: relative;
  width: 315px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.top-item_img .badge {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  border-radius: 0;
}

.top-item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-item_date {
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top-item_fight {
  margin-top: 3px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}

.top-item_address {
  margin-top: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #c5c5c5;
}
