@import './css/fonts.css';

/* RESET MAIN CLASSES */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

/* MAIN CLASSES */

.container {
  max-width: 1440px;
}

.bg-black {
  background-color: #2f2d2d;
}

.bg-yellow {
  background-color: #fdd51e;
}

.bg-red {
  background-color: #ff0000;
}

.bg-grey {
  background-color: #696969;
}

.bg-lightgrey {
  background-color: #f2f6f9;
}

.bg-blue {
  background-color: #0e9aff;
}

.bg-charcoal {
  background-color: #828694;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #2f2d2d;
}

.text-yellow {
  color: #fdd51e;
}

.text-red {
  color: #ff0000;
}

.text-grey {
  color: #696969;
}

.text-lightgrey {
  color: #f2f6f9;
}

.text-blue {
  color: #0e9aff;
}

.text-charcoal {
  color: #828694;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #c5c5c5;
}

/* HEADER */

header {
  padding: 20px 0;
}

.header-nav {
  width: fit-content;
  gap: 49px;
  @media (max-width: 1200px) {
    gap: 30px;
  }
}

.header-nav a {
  font-size: 18px;
  /* font-weight: 700; */
  font-family: 'TradeGothic', sans-serif;
  font-weight: bold;
  line-height: 22px;

  @media (max-width: 1200px) {
    font-size: 14px;
  }
}
.header-nav a:hover {
  color: #fdd51e;
}

.header-nav-side {
  gap: 45px;
}

.header-nav-side button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  gap: 12px;

  @media (max-width: 1200px) {
    font-size: 14px;
  }
}

.logo {
  margin-left: -118px;
  @media (max-width: 1200px) {
    margin-left: -60px;
  }
}
