.information .bread-crumps {
  margin-top: 42px;
  margin-right: auto;
}

.information .vybe-contact {
  margin-top: 32px;
}

.information .vybe-shipping-methods {
  margin-top: 32px;
}

.information .btns {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  margin-top: 32px;
  width: 100%;

  @media (min-width: 400px) {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
  }
}

.information .btns .btn-black {
  width: 100%;
}
